{% extends 'user/base.html' %}
{% block title %}Change Password{% endblock title %}
{% load static %}


{% block body %} 

<style>
    
</style>
<br>
{% comment %} User Registration Form {% endcomment %}
    <div class="container  mx-auto mt-5 mb-5">

        <h2 class='text-center'>Change Password</h2>
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <form action="" method='POST'  style="border: Solid 1px; padding:20px;" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                        <span > <label for="{{fm.auto_id}}">{{fm.label_tag}}</label>  <input type="{{ fm.field.widget.input_type }}" name="{{fm.name}}" class="form-control" maxlength="150" autofocus required id="{{fm.auto_id}}"> 

                        <span style='color:red; font-size:12px;'>{{fm.errors|striptags}}</span>
                    <br>
                    <br>
                    {% endfor %}
                
                    <input type="submit" class=' btn btn-warning'  value='Change Password'>
                    <a href="{% url 'dashboard' %}" class='btn btn-info'>Cancel</a>
                </form>
            </div>
        </div>
        
    </div>


{% endblock body %}

