{% extends 'user/base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block body %}

    



<div class="container my-5">
    <div class="row mx-0">
        <div class="col-lg-3 col-md-2  col-1"></div>
        <div class="col-lg-6 col-md-8  col-10">
           <h2>Password Reset Confirm Form</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
    <span > <label for="{{fm.auto_id}}">{{fm.label_tag}}</label> 
     <input type="{{ fm.field.widget.input_type }}" name="{{fm.name}}" 
     class="form-control" maxlength="150" autofocus required id="{{fm.auto_id}}"> 

    <span style='color:red; font-size:12px;'>{{fm.errors|striptags}}</span>
<br>
<br>
{% endfor %}
        <input type="submit" class='btn btn-success' value="Reset Password">
        <a href="{% url 'bloghome' %}" class="btn btn-info"> Cancel </a>
    </form>
        </div>
        <div class="col-lg-3 col-md-2  col-1"></div>
    </div>
    
    </div>



{% endblock body %}


