{% extends 'user/base.html' %}
{% block title %}Password Reset Complete{% endblock title %}

{% block body %}

    <div class="container my-5">
    <div class="row mx-0">
        <div class="col-lg-3 col-md-2  col-1"></div>
        <div class="col-lg-6 col-md-8  col-10">
            <h2> Your Password Reset Sucessfully </h2>

    
    <a class=" {{login}} btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal"> Login </a>
        </div>
        <div class="col-lg-3 col-md-2  col-1"></div>
    </div>
    
    </div>

    
    
{% endblock body %}


