{% extends 'user/base.html' %}
{% block title %}Signup{% endblock title %}
{% load static %}

{% block body %}
    <div class="row mx-0 my-5">
      <div class="col-md-3"></div>
      <div class="col-md-6 my-5">
          <h2 class='text-center'> SignUp </h2>
          <form action='' method='POST'>
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username </label>
            <input type="text" class="form-control" id="username" name='username'
              placeholder='Choose a unique username (lowercase & alphanumeric)' required>
          </div>

          <div class="mb-3">
            <label for="fname" class="form-label">First_Name</label>
            <input type="text" class="form-control" id="fname" name='fname' placeholder='First Name'>
          </div>

          <div class="mb-3">
            <label for="lname" class="form-label">Last_Name</label>
            <input type="text" class="form-control" id="lname" name='lname' placeholder='Last Name'>
          </div>


          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp"
              placeholder='name@example.com' required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="pass1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass1" name='pass1' placeholder='Choose your password'
              required>
          </div>

          <div class="mb-3">
            <label for="pass2" class="form-label">Confirm_Password</label>
            <input type="password" class="form-control" id="pass2" name='pass2' placeholder='Enter your password again'
              required>
          </div>

          <div >
          <button type="submit" class="btn btn-primary">SignUp</button>
          Already Registered <a href="{% url 'login' %}">Login Here</a>
          </div>
        </form>

      </div>
      <div class="col-md-3"></div>
    </div>



{% endblock body %}